@font-face {
    font-family: "KyivTypeSans-Medium-";
    src: url("/fonts/KyivTypeSans-Medium-.otf");
}

@font-face {
    font-family: "KyivTypeSans-Regular-";
    src: url("/fonts/KyivTypeSans-Regular-.otf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("/fonts/Poppins-Medium.ttf");
}
a {
    text-decoration: none;
}
.logo{
    font-family: 'Poppins-Medium';
    font-size: 56px;
    color: white;
    margin-left: 35px;
    margin-top: 35px;
    position: absolute;
}
body{
    background-color: black;
    list-style: none;
}
.logo_img{
    position:absolute;
    margin-left: 410px;
}
#player{
    position: fixed;
    background-color: #0f0f0f;
    width: 1080px;
    left: 0;
    top: 1750px;
    height: 234px;
}
#album_img{
    width: 130px;
    height: 130px;
    border-radius: 23px;
    background-color: wheat;
    margin-left: 40px;
    margin-top: 20px;
}
.now_playing_label{
    font-family: 'KyivTypeSans-Regular-';
    font-size: 36px;
    color: white;
    margin-left: 185px;
    margin-top: -135px;
}
#music_name_playing{
    font-family: 'KyivTypeSans-Medium-';
    font-size: 50px;
    color: white;
    margin-left: 182px;
    margin-top: -20px;
}
.song_slider{
    width: 80%;
    height: 5px;
    border-width: 100px;
    cursor: pointer;
}

